#notes-link {
  .notes-container {
    transition: all .2s ease-in-out;
    will-change: transform;
    transform: scale(0.6);
    transform-origin: 10px 10px 0px;
    width: 105%;
    min-height: 160%;
  }
  &:hover .notes-container {
    transform: scale(0.95);
    /* width: 105%;
    min-height: 105%; */
  }
}