#notes-link {
  .notes-container {
    transition: all .2s ease-in-out;
    will-change: transform;
    transform: scale(0.6);
    transform-origin: 40% 10px 0px;
    width: 105%;
    min-height: 160%;
  }
  &:hover .notes-container {
    transform: scale(0.95);
    /* width: 105%;
    min-height: 105%; */
  }
}

.uk-icon {
  margin: 0;
  border: none;
  border-radius: 0;
  overflow: visible;
  font: inherit;
  color: inherit;
  text-transform: none;
  padding: 0;
  background-color: transparent;
  display: inline-block;
  fill: currentcolor;
  line-height: 0
}


.uk-icon:not(.uk-preserve) [fill*='#']:not(.uk-preserve) {
  fill: currentcolor
}

.uk-icon:not(.uk-preserve) [stroke*='#']:not(.uk-preserve) {
  stroke: currentcolor
}

.uk-icon>* {
  transform: translate(0, 0)
}
