
[contenteditable=true]:empty:before{
  content: attr(placeholder);
  color: #dadada;
  display: block;
  font-size: 22px;
}
.darkmode {
  [contenteditable=true]:empty:before {
    color: #4a4a4a;
  }
}

#editable {
  font-size: 22px;
  line-height: 1.3;
}