.sidebar {
  .sidebar-container {
    transition: all .5s ease-in-out;
  }
  .icon-text {
    font-size: 26px;
    cursor: pointer;
    padding: 5px 10px;
    color: #d8d8d8;
  }
  .close-icon {
    font-size: 48px;
    font-weight: 300;
    line-height: 0.2;
    padding-right: 0;
  }
  .sidebar-container {
    position: fixed;
    z-index: 1;
    overflow: auto;
    right: -300px;
    top: 0;
    height: 100vh;
    width: 300px;
    border-left: 1px solid #d8d8d8;
    background: #fff;
    &.open {
      right: 0;
    }
  }
  .opener {
		position: fixed;
		z-index: 1;
    right: 15px;
    top: 10px;
    &.close {
      right: -300px;
    }
    @media (hover: none) {
      display: none;
    }
  }
}
