.pointer {
  cursor: pointer;
}

.main-page {
  transition: all .5s ease-in-out;
  max-width: 900px;
  margin: 0 auto;
  &.opened-sidebar {
    margin-right: 300px;
  }
}
.myNotesMenu {
  position: fixed;
  top: 65px;
  right: 15px;
  z-index: 1;
  @media (hover: none) {
    top: 15px;
  }
}
.menu-bar {
  width: 28px;
  height: 2px;
  display: block;
  background-color: #d8d8d8;
  margin: 5px auto;
  text-align: center;
}
.list-view-menu {
  .menu-bar {
    width: 16px;
    height: 2px;
    display: block;
    background-color: #d8d8d8;
    margin: 4px auto;
  }
  &:hover, &:focus, &.active {
    .menu-bar {
      background-color: #fff;
    }
  }
}
.grid-view-menu {

&:hover .grid-icon > span > span, &:focus .grid-icon > span > span, &.active .grid-icon > span > span {
  border-color:#fff;
}

.grid-icon {
	display: inline-block;
}


.grid-icon > .layer {
	width: 100%;
	position: absolute;
	left: 0;
}

/* style */

.grid-icon--line2 {
	position: relative;
	width: 18px;
	height: 18px;
}

.grid-icon--line2 > .layer {
	height: 8px;
}

.grid-icon--line2 > .layer--primary {
	top: 2px;
}

.grid-icon--line2 > .layer--secondary {
	bottom: -2px;
}

.grid-icon--line2 > .layer > span {
	position: absolute;
	display: block;
	width: 8px;
	height: 100%;
	box-sizing: border-box;
	border: solid 1px #d8d8d8;
}

.grid-icon--line2 > .layer > span:first-child {
	left: 0;
}

.grid-icon--line2 > .layer > span:nth-child(2) {
	right: 0;
}

}


.fade-enter {
  transform: scale(0)
}
.fade-enter-active {
  transform: scale(1);
  transition: all 300ms ease-in;
}
.fade-exit {
  transform: scale(1)
}
.fade-exit-active {
  transform: scale(0);
  transition: all 300ms ease-in;
}

.darkmode {
  color: #fff;
  background: #000;
  border-color: #fff;
  &:hover.list-group-item-action {
    background: rgb(31, 31, 31);
    color: #fff;
  }
}
